# General
ColumnLimit: 120
IncludeBlocks: Regroup

# Pointers and references
PointerAlignment: Middle

# Indentation
UseTab: ForIndentation
IndentWidth: 2
TabWidth: 2
AccessModifierOffset: -2
IndentRequiresClause: false

# Breaking
BreakBeforeConceptDeclarations: false
AlwaysBreakBeforeMultilineStrings: true
BinPackParameters: false
BinPackArguments: false
PackConstructorInitializers: CurrentLine
ReflowComments: true
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
AlwaysBreakTemplateDeclarations: Yes

# Inlining
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

# Namespaces
NamespaceIndentation: All
FixNamespaceComments: true